* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

@mixin font($font) {
    font-family: $font;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}

@mixin after($width, $height, $af, $af_px) {
    content: "";
    width: $width;
    height: $height;
    background: #777E90;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);

    @if $af=="right" {
        right: $af_px;
    }

    @else if $af=="left" {
        left: $af_px;
    }



}

.content {
    display: flex;
    // align-items: center;
    padding: 28px 40px;
    gap: 10px;
    justify-content: space-around;
    // width: 1439.24px;
    // height: 96.17px;
    background: #23262F;

    box-shadow: 0px 6px 30px 0px #0F0F0F0F;

    .menu_logo {
        width: 120.24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo_icon {
            width: 40.24px;
            height: 40.17px;
        }

        .title {
            // width: 65px;
            // height: 25px;
            @include font('Gilroy');
            font-weight: 800;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .menu_booking {
        display: flex;
        justify-content: space-around;
        // flex-direction: row;
        align-items: center;
        height: 40px;

        background: #23262F;

        border: 1px solid #353945;
        box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
        border-radius: 20px;

        // padding: 10px;
        li {
            // padding-left: 10dp;
            margin-left: 10px;

            color: #B1B5C4;
            list-style: none;
            @include font('Inter');
        }

        .logo_icon {
            background: #3B71FE;
            border-radius: 14px;
            margin-left: 10px;
            margin-top: 5px;
            padding: 6px;
            // padding:  5px, 5px, 6px, 6px;
        }

        .nav_item2,
        .nav_item1 {
            position: relative;
        }

        .nav_item2::after,
        .nav_item1::after {
            @include after(2px, 28px, "right", -7px);
            margin-left: 4px;
        }
    }

    .menu_user {
        display: flex;
        // position: relative;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            @include font('Gilroy');
            margin-left: 10px;
            color: #FFFFFF;

            .bell {
                // background: #000000;
                padding: 5px;
                margin-top: 10px;
            }

        }

        .img_user {
            position: relative;

            .user {
                margin-left: 8px;
            }
        }

        .img_user::after {
            @include after(1px, 32px, "left", 0px);
            // content: "";
            // width: 1px;
            // height: 32px;
            // background: #777E90;

            // position: absolute;
            // left: 0;
            // top: 45%;
            // transform: translateY(-50%);
        }

    }


}

.content_todo {
    display: flex;
    flex-direction: row;
    padding: 28px 40px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: #23262F;
    left: 50%;
    .menu_add {
        @include font('Inter');
        color: #FFFFFF;
        font-size: 14px;
        padding: 7px 4px;
        line-height: 20px;
        background: #353945;
        border-radius: 10px;
    }

    .menu_edit {
        @include font('Inter');
        color: #FFFFFF;
        background-color: blue;
        font-size: 14px;
        padding: 7px 4px;
        border-radius: 10px;
        line-height: 20px;

    }
    .menu_edit:hover,
    .menu_add:hover{
        background-color: blue;
    }

    .close_icon {
        height: 48px;
        align-self: center;
        position: absolute;
        left: 98.4%;
        // width: 493px;
        // left: 418px;
        // top: 0px;
        // border-radius: 0px;
        // float: right;
    }
}