* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

header {
    width: 1440px;
    height: 752px;
}

.container {
    position: relative;
    width: 967px;
    height: 645px;
    /* left: 967px; */
    top: 107px;
    background-image: url(background2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* display: flex;
    align-items: flex-end; */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}