* {
  padding: 0;
  margin: 0;
  border: none;
}

@mixin display($fd: row, $jc: center, $ai: center, $g: 102px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin daicao($w: 1440px, $h: 708px) {
  width: $w;
  height: $h;
}

@mixin font($fw: 600, $fs: 26px, $lh: 36px, $ta: center) {
  font-family: "Inter";
  font-style: normal;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  text-align: $ta;
}

body {
  @include display($g: 0px);
  background: #ffffff;
}

.book-steps {
  @include display;
  background: #ffffff;
  @include daicao;
  border: 1px solid black;

  .create-trip {
    @include display($g: 10px);
    background: #fee2b6;
    @include daicao($w: 500px, $h: 570px);
    border-radius: 39px;

    .your-trip {
      @include display($fd: column, $g: 26px);
      @include daicao($w: 363px, $h: 489px);
      border: 1px solid black;

      .card {
        @include display($fd: column, $jc: unset, $ai: flex-start, $g: 10px);
        @include daicao($w: 363px, $h: 489px);
        background: #ffffff;
        border-radius: 30px;

        .frame {
          @include display($fd: row, $g: 10px);
          @include daicao($w: 363px, $h: 359px);
          background: #3b71fe;
          border-radius: 30px 30px 0px 0px;

          .f-content {
            @include display(
              $fd: column,
              $jc: unset,
              $ai: flex-start,
              $g: 18px
            );
            @include daicao($w: 250px, $h: 314px);

            .heading {
              @include display(
                $fd: column,
                $jc: unset,
                $ai: flex-start,
                $g: 9px
              );
              @include daicao($w: 143px, $h: 60px);

              p:nth-child(1) {
                @include font($fw: 700, $fs: 18px, $lh: 27px, $ta: unset);
                @include daicao($w: 143px, $h: 27px);
                color: #ffffff;
              }

              p:nth-child(2) {
                @include font($fw: 400, $fs: 16px, $lh: 24px, $ta: unset);
                @include daicao($w: 100px, $h: 24px);
                color: #f4f5f6;
              }
            }

            .input {
              @include display(
                $fd: column,
                $jc: center,
                $ai: flex-start,
                $g: 10px
              );
              @include daicao($w: 250px, $h: 38px);
              background: #ffffff;
              border-radius: 10px;

              .inp-frame {
                @include display($jc: space-between, $g: 20px);
                padding: 0px;
                @include daicao($w: 222px, $h: 24px);
                align-self: stretch;
                margin-left: 18px;

                input {
                  @include daicao($w: 144px, $h: 21px);
                  outline: 0;
                  @include font($fw: 900, $fs: 14px, $lh: 21px, $ta: unset);
                  color: #23262f;
                }

                button {
                  background-image: url("./img-booksteps/ic-input.svg");
                  @include daicao($w: 24px, $h: 24px);
                  background-color: #ffffff;
                  cursor: pointer;
                }
              }
            }

            .c-frame {
              @include display(
                $fd: column,
                $jc: unset,
                $ai: flex-start,
                $g: 18px
              );
              @include daicao($w: 203px, $h: 180px);
              border: 1px solid black;

              // ke thua

              @mixin setrow($ht: 50px, $hrow: 24px, $wp: 161px, $hp: 24px, $fsp: 16px, $lhp: 24px) {
                @include display(
                  $fd: column,
                  $jc: unset,
                  $ai: flex-end,
                  $g: 16px
                );
                @include daicao($w: 203px, $h: $ht);
                padding: 0px;

                .r-row {
                  @include display($jc: unset, $g: 14px);
                  @include daicao($w: 203px, $h: $hrow);

                  p {
                    @include daicao($w: $wp, $h: $hp);
                    @include font($fw: 700, $fs: 16px, $lh: 24px);
                    color: #f4f5f9;
                  }
                }

                p {
                  @include daicao($w: 169px, $h: 20px);
                  @include font($fw: 400, $fs: 14px, $lh: 20px);
                  color: #e6e8ec;
                }
              }

              .row1 {
                @include setrow;
              }

              .row2 {
                @include setrow($ht: 47px, $hrow: 21px, $wp: 113px, $hp: 21px, $fsp: 14px, $lhp: 21px);
                .r-row{
                  gap: 25px;
                }
              }

              .row3 {
                @include setrow($ht: 47px, $hrow: 21px, $wp: 111px, $hp: 21px, $fsp: 14px, $lhp: 21px);
                gap: 11px;
                .r-row{
                  gap: 25px;
                }
              }
            }
          }
        }

        p {
          @include font;
          color: #353945;
          @include daicao($w: 233px, $h: 36px);
        }
      }

      .botom {
        @include display($jc: unset, $g: 40px);
        @include daicao($w: 199px, $h: 24px);
        border: 1px solid black;
      }
    }
  }

  //part2

  .content {
    @include display($fd: column, $ai: flex-start, $g: 50px);
    @include daicao($w: 568px, $h: 501px);
    border: 1px solid black;
  }
}
