.card4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1029px;
    height: 405px;
    background: #23262f;
    border-radius: 20px;
    position: relative;
    right: -220px;
    .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 535px;
        width: 938px;
        height: 45px;
        p {
            width: 265px;
            height: 45px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 45px;
            color: #ffffff;
        }
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 138px;
            height: 30px;
            background: #283558;
            border-radius: 20px;
            border: 0.1px solid #283558;
            p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                color: #3b71fe;
                width: 100%;
                margin-top: 26px;
            }
        }
    }
    .comment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 939px;
        height: 296px;
        .empty-box {
            width: 939px;
            height: 1px;
            background: #353945;
        }
        .img-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 28px;
            width: 869px;
            height: 271px;
            .maskgroup {
                width: 371px;
                height: 271px;
            }
            .right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 28px;
                width: 470px;
                height: 270px;
                .contentt {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 24px;
                    width: 470px;
                    height: 174px;
                    .title {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 12px;
                        width: 470px;
                        height: 108px;
                        .title2 {
                            width: 162px;
                            height: 36px;
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 36px;
                            color: #ffffff;
                        }
                        .title3 {
                            width: 470px;
                            height: 60px;
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #b1b5c4;
                        }
                    }
                    .sub-tittle {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 6px;
                        width: 232px;
                        height: 42px;
                        .sub1 {
                            width: 184px;
                            height: 24px;
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #ffffff;
                        }
                        .sub2 {
                            width: 232px;
                            height: 12px;
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 12px;
                            color: #b1b5c4;
                        }
                    }
                }
                .card5 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 12px;
                    gap: 10px;
                    width: 463px;
                    height: 68px;
                    background: #3b71fe;
                    border-radius: 10px;
                    .content {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 35px;
                        width: 439px;
                        height: 35px;
                        .button1 {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 20px;
                            width: 322px;
                            height: 35px;
                            position: relative;
                            right: 0;
                            bottom: 40px;
                            .button2 {
                                width: 100%;
                                height: 34px;
                                img {
                                    color: #3b71fe;
                                }
                            }
                            .text {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0px;
                                gap: 9px;
                                width: 262px;
                                height: 35px;
                                .text1 {
                                    width: 98px;
                                    height: 13px;
                                    font-family: "Inter";
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 11px;
                                    line-height: 13px;
                                    color: #ffffff;
                                }
                                .text2 {
                                    width: 300px;
                                    height: 13px;
                                    font-family: "Inter";
                                    font-weight: 500;
                                    font-size: 11px;
                                    line-height: 13px;
                                    color: #ffffff;
                                    display: flex;
                                    align-items: center;
                                    a {
                                        font-style: italic;
                                        text-decoration: underline;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                        .button3 {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 82px;
                            height: 22px;
                            background: #ffffff;
                            border-radius: 5px;
                            margin-top: 7px;
                            button {
                                width: inherit;
                                font-family: "Inter";
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                color: #3b71fe;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
