* {
  padding: 0;
  margin: 0;
  border: none;
}

@mixin displays($sp: column, $jc: center) {
  display: flex;
  flex-direction: $sp;
  justify-content: $jc;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;

  background-color: rgb(56, 41, 21);
  position: absolute;
  width: 1440px;
  height: 752px;
  left: 0px;
  top: 0px;

  .top {
    grid-column: 1 / 3;
    @include displays;
    padding: 30px 60px;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    width: 1439.24px;
    height: 100.17px;
    left: 0px;
    top: 0px;

    filter: drop-shadow(0px 6px 30px rgba(15, 15, 15, 0.06));

    .t--content {
      width: 1319.24px;
      height: 40.17px;
      @include displays($sp: row, $jc: space-between);
      padding: 8px 10px;
      padding-left: 30px;
      padding-right: 50px;
      position: absolute;
      border: 1px solid black;
    }

    .logo {
      @include displays($sp: row);
      padding: 8px 10px;
      gap: 10px;
      width: 120.24px;
      height: 40.17px;
    }

    .logo {
      img {
        width: 30px;
        height: 30px;
        border-radius: 12px;
      }

      p {
        color: #353945;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
      }
    }

    @mixin midles($g: 40px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $g;
    }
    .middle {
      @include midles;
      padding: 8px 10px;
      text-align: center;
      color: #353945;
      width: 250px;
      height: 24px;

      p {
        font-family: "Inter";
        font-style: normal;
        color: #353945;
      }
    }

    .right {
      @include midles($g: 15px);
      width: 169px;
      height: 32px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 30px;
      }

      #r--tb {
        width: 20px;
        height: 20px;
      }
      p {
        color: #777e90;
      }

      #gach {
        font-size: 30px;
        opacity: 0.5;
      }
    }
  }

}
