* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  background: #ffffff;
}

.partner {
  background: #f4f5f9;
  width: 1440px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .brand-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;

    width: 871px;
    height: 30px;
  }
}
