* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 112px;

    .location_trip {
        width: 520px;
    }

    .location_image {}
}